.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-line-effect {
  height: 6vh;
  width: 80%;
  background-color: #90ee90;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.about-line-text {
  font-size: 3vh;
  position: relative;
  left: 31vw;
}

.aboutImg-container {
  height: 70vh;
  width: 35vh;
  position: relative;
  bottom: 12.5vh;
  right: 15vw;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.aboutImg-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about-content {
  display: flex;
}

.about-textarea {
  width: 78.3vw;
  color: white;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  height: 90%;
  width: 55%;
  font-size: 2.5vh;
  line-height: 4vh;
}

.paragraph {
  margin-left: 3vw;
}

.project-highlight {
  color: var(--accent-color);
  cursor: pointer;
}
