body {
  --accent-color: #90ee90;
  --background-color: rgba(0, 0, 0, 0.9);
  --line-color: #999999;
}

body {
  background-color: var(--background-color);
}

.app {
  display: flex;
}

.app-left {
  width: 4%;
  background-color: #0d0d0d;
  position: fixed;
  padding: 0.3vw;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid var(--line-color);
}

.app-right {
  width: 96%;
}

::-webkit-scrollbar {
  display: none;
}

.app-right-outer {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
