body {
  --accent-color: #90ee90;
  --background-color: rgba(0, 0, 0, 0.9);
  --line-color: #999999;
}

body {
  background-color: var(--background-color);
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.app-left {
  width: 4%;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  padding: 10px;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid var(--line-color);
}

.app-right {
  width: 96%;
  overflow-y: scroll;
  overflow-x: hidden;
}
