.contactMe-container {
  height: 100vh;
}

.hire-me-line {
  height: 7%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hire-title {
  font-weight: bold;
  font-size: 3vh;
  margin-left: 1vw;
}

.hire-text {
  font-size: 2vh;
  margin-left: 1vw;
}

.contactForm {
  height: 93%;
  display: flex;
  justify-content: flex-end;
}

.form-container {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-bottom-left-radius: 10px;
}

.form {
  height: 70%;
  width: 70%;
  border: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.name-input {
  width: 30%;
  color: white;
  border-radius: 10px;
}

.name-input:focus {
  outline-color: var(--accent-color);
}

.email-input {
  width: 30%;
  color: white;
  border-radius: 10px;
}

.email-input:focus {
  outline-color: var(--accent-color);
}

.contact-textarea {
  resize: none;

  color: white;
  border-radius: 10px;
}

.contact-textarea:focus {
  outline-color: var(--accent-color);
}

.submit-button {
  width: 10%;
  height: 7%;
  position: relative;
  left: 48.4vw;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.submit-button:hover {
  background-color: var(--accent-color);
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
