.contactMe-container {
  height: 100vh;
}

.hire-me-container {
  display: flex;
  justify-content: center;
}

.hire-me-line {
  height: 7%;
  width: 80%;
  background-color: #0d0d0d;
  color: white;
  border: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
}
.hire-title {
  font-weight: bold;
  font-size: 3vh;
  margin-left: 1vw;
  color: var(--accent-color);
}

.hire-text {
  font-size: 2vh;
  margin-left: 1vw;
}

.contactForm {
  height: 93%;
  display: flex;
  justify-content: flex-end;
}

.form-container {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-bottom-left-radius: 10px;
}

.form {
  height: 70%;
  width: 70%;
  border: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #0d0d0d;
  border-radius: 10px;
}

.name-input {
  width: 10%;
  transition: 0.5s;
}

.name-input:focus {
  outline-color: var(--accent-color);
  width: 30%;
  transition-duration: 0.5s;
}

.email-input {
  width: 10%;
  transition-duration: 0.5s;
}

.email-input:focus {
  outline-color: var(--accent-color);
  width: 30%;
  transition-duration: 0.5s;
}

.subject-input {
  outline-color: var(--accent-color);
  width: 100%;
}

.contact-textarea {
  resize: none;
  width: 100%;
}

.contact-textarea:focus {
  outline-color: var(--accent-color);
}

.submit-button {
  width: 10%;
  height: 7%;
  position: relative;
  left: 48.4vw;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  font-size: 1.5vh;
}

.submit-button:hover {
  background-color: var(--accent-color);
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.contact-line-container {
  background-color: var(--accent-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40vw;
  height: 6vh;
  position: relative;
  bottom: 75vh;
  left: 60vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}
