.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
}

.profile-image-container {
  height: 80%;
  width: 40%;
  z-index: 1;
}
.profile-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--line-color);
}

.header-text {
  text-align: center;
  height: 100%;
  width: 40%;
  font-size: 2vh;
  position: relative;
  top: 7vh;
}

.line-effect {
  height: 6vh;
  width: 100%;
  background-color: #90ee90;
  position: relative;
  bottom: 17vh;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.line-title {
  font-size: 2vh;
  text-decoration: underline;
  position: relative;
  right: 8vw;
}

.name a:hover {
  color: #90ee90;
  cursor: pointer;
}

.name a {
  color: white;
  text-decoration: none;
  cursor: auto;
}
