.myWork-container {
  height: 100vh;
}

.projects {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.project {
  height: 40vh;
  width: 25vw;
  border-radius: 10px;
  border: 1px solid var(--line-color);
  margin: 5vw;
  flex: 0 0 auto;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 black;
}

.project:hover {
  box-shadow: 0 4px 8px 0 var(--accent-color);
}

.project-img {
  height: 85%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-header {
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.project-header-clicked {
  height: 15%;
  background-color: var(--accent-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.project-title {
  font-size: 3vh;
  font-weight: bold;
  margin-left: 0.5vh;
}

.project-description {
  border: 1px solid var(--accent-color);
  min-height: 20%;
  width: 40%;
  height: fit-content;
  border-radius: 10px;
  padding: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2vh;
  box-sizing: border-box;
  position: relative;
  bottom: 20vh;
  right: 5vw;
}

.project-description a {
  text-decoration: none;
  cursor: pointer;
}

.description-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}

.directions {
  color: var(--accent-color);
  font-weight: lighter;
}
