.nav-container {
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons-container {
  display: flex;
  height: 100%;
  width: 10vw;
  align-items: center;
  justify-content: space-evenly;
}

.github:hover {
  fill: #90ee90;
  cursor: pointer;
}

.linkedin:hover {
  fill: #90ee90;
  cursor: pointer;
}

.twitter:hover {
  fill: #90ee90;
  cursor: pointer;
}
