.skills-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.skills {
  height: 10%;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
  border: 1px solid var(--line-color);
  background-color: rgba(0, 0, 0, 0.5);
}

.skill {
  margin: 20px;
  cursor: pointer;
}

.skills-header {
  color: white;
  border: 1px solid var(--line-color);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-text {
  height: 95%;
  width: 80%;
  display: flex;
  justify-content: center;
}

.skills-text-general {
  border: 1px solid var(--line-color);
  width: 40%;
  height: 50%;
  margin-right: 2vw;
  border-radius: 10px;
  padding: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2vh;
  box-sizing: border-box;
}
.skills-text-specific {
  border: 1px solid var(--accent-color);
  min-height: 20%;
  width: 20%;
  height: fit-content;
  margin-left: 2vw;
  border-radius: 10px;
  padding: 2vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2vh;
  box-sizing: border-box;
}
