.skills-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  height: 10%;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
  border: 1px solid var(--line-color);
  background-color: #0d0d0d;
}

.skill {
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}

.skill:hover {
  height: 11vh;
  width: 7vw;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}

.skills-header {
  background-color: var(--accent-color);
  border-radius: 10px;
  height: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-text-general {
  border: 1px solid var(--line-color);
  width: 50%;
  height: 50%;
  border-radius: 10px;
  padding-top: 10vh;
  padding-right: 5vh;
  padding-left: 5vh;
  color: white;
  background-color: #0d0d0d;
  font-size: 2vh;
  box-sizing: border-box;
  text-align: center;
  line-height: 5vh;
}

.skill-direction {
  color: var(--accent-color);
}

.skill-reader-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}

.skills-text-specific {
  border: 1px solid var(--accent-color);
  min-height: 20%;
  width: 40%;
  height: fit-content;
  margin-left: 2vw;
  border-radius: 10px;
  padding: 2vh;
  color: white;
  background-color: #0d0d0d;
  font-size: 1.7vh;
  box-sizing: border-box;
  cursor: pointer;
}

.reader-title {
  color: var(--accent-color);
}

@media all and (max-width: 600px) {
  .skills-header {
    font-size: 2vh;
    width: 70%;
    height: 3vh;
    border-radius: 4px;
  }

  .skills-text-general {
    width: 70%;
    font-size: 1.3vh;
    line-height: 3vh;
    padding-top: 5vh;
  }

  .skills-text-specific {
    font-size: 1vh;
    width: 50%;
  }
}
